/* Universal code */
*{
margin: 0;
    box-sizing: border-box;
    background-color: #0a0a0b;
}
body, h1, .bodyHead {
    font-family: 'Prata', serif;
}
.bodyText, .bodytext, p {
font-family: 'Inter',
sans-serif;

}
p {
    color: gray;
}

/* Header section styles */

.nav-bar{
display: flex;
justify-content: space-between;
/* padding: 0.25rem; */
}
.nav-bar a {
    text-decoration: none;
    color: #fff;
    /* padding: 1.25rem; */
  
}
.nav-bar h2{
    padding: 1.25rem 1rem;
}
.nav-wrapper{
    display: none;
}
.nav-bar button{
    display: none;
}

/* sections */

.bodyText {
     width: 100%;
    font-size: 1.3rem;
    margin-bottom: 1rem;
line-height: 2rem;
}
section h1{
    margin-top: 2rem;
    font-size: 3rem;
    color: #fff;
}
.logos{
    /* background-color: red; */
    height: 3.4rem;
    padding: 1rem;
}
.logos-container{
margin: 1rem auto;

}
.logo-container{
    display: none;
}
.logo-con{
display: flex;
    justify-content: space-evenly;
    padding: .5rem;
    margin: 1rem auto;
    width: 70%;
}
.logo-con-tab{
    display: none;
}
.sectionHead img{
    width: 100%;
}

.sectionHead{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    color: #fff;
    /* padding: 0.25rem; */
}
.words, .bodyhead, .bodytext, i {
    background-color: #2e3038 ;
    
}
.words h2{
    font-size: 3rem;
}
.bodytext{
    font-size: 1.3rem;
    margin: 1rem 0;
    line-height: 2rem;

}
.body-section{
    background-color: #2e3038;
}
.full{
    padding: 2rem 1rem;
    margin: 2rem 0;
    width: 100%;
    background-color: #2e3038;
    /* position: absolute; */
    /* left: 0px; */
    
}
.pad{
    padding: 1rem;
}
.btn{
    background-color: #fbe850;
    border: 1px solid #fbe850;
    border-radius: 1px;
    width: 9rem;
    height: 2.7rem;
    margin-bottom: 4rem;
}
.btn:hover, .btn:active{
    background-color: orange;
    border: 1px solid orange;
transition: 100ms ease-in;
}

footer{
    background-color: #2e3038;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 1rem;
    color: #FFF;
}
h3, .nav-footer-bar, .nav-footer-bar img{
    background-color: #2e3038;
}
.nav-footer-bar {

    width: 20%;
    display: flex;
    justify-content: space-between;
}


@media only screen and (min-width: 768px) {
.nav-bar h2 {
    padding: 1.25rem 2.5rem;
}
section h1 {
    margin-top: 2rem;
    font-size: 4rem;

}
.section-head{
    max-width: 90%;
}
.bodyHead{
    padding: 1rem 0;
}
.pad{
    padding: 2.5rem;
}
.full {
    padding: 1rem 2.5rem;
    margin: 2rem 0;
    width: 100%;
}
.sectionHead{
    font-size: 2rem;
}
.interest{
    width: 80%;
}
.interest h2{
font-size: 2.4rem;
}
.logos-container{
margin: 1rem auto;
}
.logo-con{
    display: none;
}
.logo-con-tab{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 3rem auto;
}
footer{
    padding: 1.3rem 2.5rem;
}
.nav-footer-bar{

    width: 15%;
    display: flex;
    justify-content: space-between;
}
}

@media only screen and (min-width: 992px) {
.nav-bar{
    margin: .8rem 2rem;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.nav-bar .btn {
    margin: 2rem;
    display: inline-block;
    align-self: center;
}
.btn{
    cursor: pointer;
}
    .nav-wrapper{
display: flex;
justify-content: space-between;
width: 26%;
}
.nav-links{
    color: #2e3038;
}
.nav-links:active, .nav-links:hover{
border-bottom: 2px solid #2e3038;
transition: 500ms ease-in;
}

.section-head{
    width: 70%;
    margin: -10rem 0;
    margin-bottom: -15rem;
}
 .section-head h1{
    margin: 1.3rem 0;
} 
    .pad {
    padding: 9rem;
}
    .full {
    padding: 2rem 9rem;
    margin: 2rem 0;
    width: 100%;
}
.words{
   display: flex; 
   justify-content: space-between;
   width: 100%;
   /* align-items: center; */
   
}
.logo-con {
    display: none;
}
.logo-con-tab{
    display: none;
}
.logo-container{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.contain{
    display: flex;
    justify-content: space-between;
    width: 90%;
margin: 0 auto;
}
.contain .pad{
    padding: 0 5rem;
}
.bodyHead{
    font-size: 2rem;
}
.words h2{
    font-size: 2.2rem;
    /* width: 25rem; */
}
.bodytext{
    font-size: 1.1rem;
}
.body-section{
    background-color: #2e3038;
    padding: 1rem;
}
.interest{
    width: 70%;
}
footer {
    padding: 1.3rem 9rem;
    
}
}